<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text"> Release: <span>{{movie.releaseDate | date: 'shortDate'}} .    </span>  </p>
      <ul style="list-style: none;">
        <li *ngFor='let cast of movie.cast'>
          {{cast.actor}} - {{cast.role}}
        </li>
      </ul>
      <a href="{{movie.imdbPage}}" class="btn btn-primary">Visit on IMDB</a>
    </div>
  </div>
